body {
    text-align: justify;    
}

h1 {
    line-height: 110%;    
}

.hlist {
    border: 1px solid navy;
    padding:5px;
    background-color: #F4FFFF; 
}

.hlist li {
    display: inline;
    display: inline-table;
    list-style-type: none;
    padding-right: 20px;
    
}

.thing {
    border: 1px solid navy;
    margin:5px 0px 5px 0px;
}

.entity {
    padding: 5px;
    border: 1px #48A23F;
}

h3.entity-name {
    margin-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    background: #48A23F;
    color: #ffffff;
    border-bottom: 1px solid;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.entity-depiction{
    max-width:100%;
    margin-right: auto;
    margin-left: auto;
}

.type-c {
    cursor:help;
    color:orange;
}

.type-op {
    cursor:help;
    color:navy;    
}

.type-dp {
    cursor:help;
    color:green;    
}

.type-ap {
    cursor:help;
    color:maroon;    
}

.type-ni {
    cursor:help;
    color:brown;    
}

.logic {
    color:purple;
    font-weight:bold;    
}

h3 {
    margin-top: 3px;
    padding-bottom: 5px;
    border-bottom: 1px solid navy;
}

h2 {
    margin-top:40px;    
}

.dotted {
    border-bottom: 1px dotted gray;
}

dt {
    margin-top:5px;
}

.example {
    display: none;
    clear: both;
    border: 1px #d8bd64;
}

.example-button {
    display: block;
    width: 100%;
    height: 25px;
    background: #d8bd64;
    border: none;
    text-align: left;
    color: #ffffff;
    margin-bottom: 2px;
}

.example:target  {
    display: block;
}

a:hover.example-link, a:visited.example-link, a:link.example-link, a:active.example-link {
    text-decoration: none;
}


.description {
    border: 1px dashed #2F6FAB;
    background-color: rgb(242, 243, 244);
    margin-top:5px;
    margin-bottom:10px;
    padding: 1em;
}

.description dl {
    background-color: rgb(242, 243, 244);
}

.description ul {
    padding-left: 12px;
    margin-top: 0px;
}

.backlink {
    font-size:10pt;
    text-align:right;
    float:right;
    color:black;
    padding: 2px;
    border: 1px dotted navy;
    background-color: #F4FFFF;
}

.imageblock {
	text-align: center;
}

.imageblock img {
	border:1px solid gray;
}

.endnote {
	margin-top: 40px;
	border-top: 1px solid gray;
	padding-top: 10px;
	text-align: center;
	color:gray;
	font-size:70%;
}

.literal {
    color:green;
    font-style:italic;
}